<div class="bg-light p-5 rounded-lg m-3">
    <div class="display-4">Psicotools</div>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint mollitia illo provident quis dicta, sed at tenetur expedita temporibus odit consequuntur ipsam, debitis, similique nam hic deserunt fuga nihil culpa eius assumenda fugit illum eos ducimus! Culpa blanditiis quos accusantium?</p>
    <a href="https://samuelbuendia.github.io/proyectoCoder/" target="_blank" class="btn btn-primary btn-lg">Samuel Buendía</a>
</div>